@font-face {
  font-family: "Gyeonggi_Batang_Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff")
    format("woff");
  /* font-weight: 400;
    font-style: normal; */
}

@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gyeonggi_Batang_Regular";
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "ookieRun-Regular";
}

#box p {
  white-space: pre-wrap;
}
